{% extends 'base.html' %}
{% load static %}
{% block content %}
  <style>
    
        td {
            line-height: 17px;
          }
        td p {
            margin:0px;
          }
        button {
            border-color: #60604ea8;
            transition: background-color 0.2s ease-in-out; /* added transition effect */

        }
        button:hover {
        background-color: rgb(207, 176, 37);
        color :black /* changed to a darker shade of green on hover */
        }

        input[type="text"] {
			border: 1px solid #9b5423b0;
			border-radius: 10px;
			font-size: 1rem;
			padding: 0.2rem;
			width: 100%;
			margin-bottom: 5px;
			outline: none;
        }
        select {
			border: 1px solid #9b5423b0;
			border-radius: 10px;
			font-size: 1.2rem;
			padding: 0.2rem;
			width: 100%;
			margin-bottom: 5px;
			outline: none;
		}
        input[type="number"] {
			border: 1px solid #8fe2f5b0;
			border-radius: 10px;
			font-size: 1rem;
			padding: 0.4rem;
			width: 100%;
			margin-bottom: 5px;
			outline: none;
			
		}
  
  </style>


  <body>


        <div class="container ">

                    <div class="row">
                      
                        <div class="col-4 d-flex justify-content-center">

                           


                                
                        </div>
                        <div dir="rtl" lang="ar" class="col-4">
                                <form action="{% url 'scanner:specificexamscores'  %}" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                        <div class="mb-3">
                                                <select class="form-control-sm" name="search-exam" value="">
                                                        
                                                        {% if current_exam.id != "" %}
                                                        <option  value="all" selected> نتائج جميع الامتحانات   </option>
                                                        
                                                        {%endif%}
                                                        <option value="{{current_exam.id}}" selected>{{current_exam}}</option>
                                                        {% for exam in exams %}
                                                        <option value="{{exam.id}}">{{exam.title}}</option>
                                                        
                                                        {% endfor %}
                                                        
                                                </select>


                                        </div>
                                        <div class="mb-3">
                                                <select class="form-control-sm" name="succeedorfailed" value="">
                                                        <option  value="allstudents" selected> جميع الطلاب   </option>
                                                        
                                                        <option value="succeed" >الناجحون</option>
                                                       
                                                        <option value="failed">الراسبون</option>   
                                                </select>
                                        </div>
                                        <div class="mb-3">
                                                <input type="text" class="form-control-sm" name="student-name" placeholder="  ابحث باسم الشخص" >

                                        </div>
                                        <div class="mb-3">
                                                <input type="text" class="form-control-sm" name="student-secretenumber" placeholder="   ابحث بالرقم العسكرى   " id="datetimepicker">
                                        </div>
                                        <button type="submit" class="btn btn-dark btn-block btn-sm m-1" >ابحث</button>
                                </form>
                        </div>
                    </div>

            <div class="container mb-5 mt-1 " style="width:500px">
            
            </div>




            <div dir="rtl" lang="ar" class="row">
                <div class="align-right mb-3">
                    {% if current_exam %}
                    <a  href="{% url 'scanner:examscores' current_exam.id %}" class="btn btn-dark btn-block btn-sm m-1">refresh </a>
                    {% else %}
                    <a  href="{% url 'scanner:examscores' 0 %}" class="btn btn-dark btn-block btn-sm m-1">refresh </a>
                    {% endif %}
                    <a id="resultspdf" href="#" class="btn btn-dark btn-block btn-sm m-1">PDF </a>
                    <!-- <a href="" class="btn btn-dark btn-block btn-sm m-1">Excel</a> -->
                </div>
               
            </div>




            <div dir="rtl" lang="ar" id="results" class="container mt-3">

                <div class=" d-flex justify-content-center mb-5">
                    <span style="color:#681d00;font-size:31px">تقرير الامتحان </span>
                </div>

                <div  class="row">
                    <div class="col-12">
                        
                        <table  class="table table-sm table-color">
                                    <thead  style="color: #d17605">
                                       
                                        <tr>
                                        
                                             
                                             <th> اسم الامتحان</th>
                                             <th>اسم الطالب</th>
                                             <th>الدرجة</th>
                                             <th>العظمى</th>
                                             

                                        </tr>
        
                                    </thead>
                                    <tbody class="tbody-color">
                                        {% for score in students_scores %}
                                            <tr>
                                                 
                                                 <td>
                                                    {{score.exam.title}}
                                                 </td>

                                                 <td>
                                                    {{score.student.student_name}}
                                                 </td>
 
                                                 <td >
                                                    {{score.score}} 
                                                 </td>
                                                 <td >
                                                    {{score.exam.totalscore}} 
                                                 </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                        </table>
                    </div>
                </div>
                
                {% if current_exam != None %}
                <div dir="rtl" lang="ar">
                        <h5 style="color:rgb(6 63 104);"> :  احصائيات  </h5>
                        <table  class="table table-sm table-color">
                                <thead  style="color: #d17605">
                                   
                                    <tr> 
                                         <th> عدد الناجحين </th>
                                         <th> عدد الراسبين</th>
                                         <th>اعلى درجة</th>
                                         <th>اقل درجة</th>
                                         <th> متوسط الدرجات</th>
                                         <th>  نسبة النجاح</th>
                                    </tr>
                                </thead>
                                <tbody >
                                        <tr>

                                             <td>
                                                 {{current_exam.examanalytics.1}}
                                                    
                                             </td>

                                             <td>
                                                    {{current_exam.examanalytics.2}}
                                                   
                                             </td>

                                             <td >
                                                    {{current_exam.examanalytics.4}}
                                             </td>
                                             <td >
                                                    {{current_exam.examanalytics.5}} 
                                             </td>
                                             <td >
                                                    {{current_exam.examanalytics.3}} 
                                             </td>
                                             <td >
                                                   % {{current_exam.examanalytics.6}}
                                             </td>
                                        </tr>
                                   
                                </tbody>
                    </table>
                       <div>
                        <h5 style="color:red;">الاوراق التى فشل قراءتها : </h5>
                         {% if failed_images.count != 0 %}
                            {% for failed_image in failed_images %}
                            <div>
                                {{failed_image}}
                            </div>
                            {% empty %}
                            <span>لا يوجد</span>
                                
                            {% endfor %}
                         {% endif %}
                </div>
                </div>
                {% endif %}
                     

            </div>


        </div> 



        
       

        <script>
            const downloadBtn = document.getElementById('resultspdf');
downloadBtn.addEventListener('click', () => {
  const element = document.getElementById('results');
  html2pdf().from(element).save();
});
        </script>



    
{% endblock content %}